#menu1 {
   /* height: 60px;*/
  /*  background-color: #212121;*/
    background-color: #1E2327;
    position: fixed;
    z-index: 50;
    width: 100%;

 
}

  .nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
  }




a {
    text-decoration: none;
    color: #9A9C9E;
}

a:hover {
    text-decoration: none;
    color: white;
}








nav ul{
  transform: translateX(12%);
  webkit-transform: translateX(-12%);
}













/** BODY **/


body {
    color: white;
}



main {
    position: relative;
    top: 60px;
}



.toplink {
    height: 20px;
    width: 20px;
    /*background-color: white;*/
    position: relative;
    bottom : 75px;
}








.section {
    min-height: 720px;
}



.section h2 {
    text-align: center;
    position: relative;
    bottom: 30px;
    
}





#section0 {
    
    background: url("../img/bg1.png") no-repeat center ;
    background-size: cover;
    font-family: cursive;
    
}


/* EXPERIENCES PROFESSIONNELLES */

#section1 {
    
    background: url("../img/bg8.png")no-repeat center;
    background-size: cover;
    font-family: cursive;
}





/* REALISATIONS */


#section2 {
    background: url("../img/bg3.png") no-repeat center ;
    background-size: cover;
    font-family: cursive;
}




/* COMPETENCES */
#section3 {
    background: url("../img/bg20.png") no-repeat center ;
    background-size: cover;
    font-family: cursive;

}

/* FORMATIONS */
#section4 {
    background: url("../img/bg19.png") no-repeat center;
    background-size: cover;
    font-family: cursive;
}

/* CONTACT */
#section5 {
    background: url("../img/bg9.png") no-repeat center ;
    background-size: cover;
    font-family: cursive;
}









