

/* MENU */

#menu1 {

    background-color: #24292E;
    position: fixed;
    z-index: 50;
    width: 100%;
}

.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
}



#menu1 li:hover {
    background-color: #212121;
}


/*
nav ul{
  transform: translateX(12%);
  webkit-transform: translateX(-12%);
}

*/


header .side-nav {
    width: 150px;
    text-align: center;
}






/** BODY **/


body {

}



main {
    position: relative;
    top: 60px;
}



.toplink {
    
    height: 1px;
    width: 1px;
    position:relative;
    top : 100px;

}



.section h2 {
    text-align: center;
}


.divider {
    margin-top: 190px;
}










/* PRESENTATION */
#section0 img  {
    margin-top: 25px;
    margin-bottom: 25px;
}

#section0 p {
    font-size: 18px;
}

#section0 h3 {
    margin-top: 50px;
}











/* EXPERIENCES PROFESSIONNELLES */


.expe {
    
    margin-bottom: 25px;
    margin-top: 25px;
}



#content {
    
    padding-left: 20px;
    clear: both;
}


#content #intitule {
    display: inline-block;
    font-weight: 300;
    font-size: 25px;
    color: #888;
}

#content #titre h4 {
    font-weight: 500;
    font-size: 29px;
    display: inline-block;  
    margin-left: 20px;
}

#content #date {
    padding-right: 30px;
    color: #888;
}

#content #entreprise {
    font-weight: 500;
    font-size: 18px;
}

#content #ville {
    font-style: italic;
    font-size: 18px;
}






@media only screen and (max-width: 600px) { 
    
    .row.valign-wrapper { 
        display: inherit; 
    }
}



/* bordure tableau */

#border-top #top-left {
    display: block;
    width: 150px;
    height: 50px;
    position: relative;
    float: left;

    bottom: -10px;
    left: -10px;
    
    
    border-top: 2px solid #E0E0E0;
    border-left: 2px solid #E0E0E0;

}

#border-top #top-right {
    float: right;
    display: block;
    width: 150px;
    height: 50px;
    
    position: relative;
    
    
    bottom: -10px;
    right: -10px;
    
    
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}





#border-bottom #bottom-left {
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    position: relative;
    
    top: -10px;
    left: -10px;
    
    border-bottom: 2px solid #E0E0E0;
    border-left: 2px solid #E0E0E0;
}



#border-bottom #bottom-right {
    display: block;
    width: 150px;
    height: 50px;
    float: right;
    position: relative;
    
    top: -10px;
    right: -10px;
    
    border-bottom: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}



.clear {
    clear: both;
}














/* REALISATIONS */
#section2 .real {

    text-align: center;
    color: white;
    height: 226px;
}

#section2 a {
    z-index: 100;
    text-decoration: none;
    color: white;
}



#section2 .contour {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


#section2 img {
 
    display:inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #E0E0E0;
    position: relative;
    z-index: -9;
    float: left;
}


#section2 .contour .backimg {

    display: none;
    height: 200px;
}

#section2 .back {
    
    float: left;
    width: 200px;
    height: 200px;
    background-color: #212121;
    opacity: 0.8;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    
}


#section2 .desc {
    float: left;
    width: 200px;
    height: 200px; 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
}



#section2 .desc > * {
    clear: both;
}



#section2  h6 {
    padding-top: 50px;
    font-weight: 500;
}


#section2 .desc p {
    font-weight: 300;
}












/* COMPETENCES */
#section3 {

}

#section3 #row_skill {
    margin-top: 20px;
}


#section3 .tab_skill {
    
    border-right: 2px solid #E0E0E0;
    border-left: 2px solid #E0E0E0;
    
    border: 2px solid #E0E0E0;
    
    min-height: 400px;
    height: auto;
    margin-top: 25px;
    
}

#section3 .tab_skill p {
    text-align: center;
    padding-left: 2px;
}

#section3 .tab_skill #skill {
    margin-top: 10px;
}







#section3 .title_skill {
    
    height: 100px;
    border-bottom: 2px solid #E0E0E0;
    padding-top: 10%;
    
}

#section3 .title_skill h6 {
    display: block;
    text-align: center;   
    font-size: 18px;
    font-weight: 500;
  
}


@media screen and (min-width: 601px) {
 
    #section3 .tab_skill:first-child {
        margin-left : 4.16%;
    }
}













/* FORMATIONS */
#section4 {

}


#section4 #card {
    background-color: #e0e0e0;
   /* height: 200px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


#section4 #card #annee {
    
    font-weight: 600;
    font-size: 20px;
    
}

#section4 #card h5 {
    
}


#section4 #card #formation_coord {
    
    font-weight: 500;
    
}


#section4 #card #formation_ville {
    
    font-weight: 300;
    
}






/* CONTACT */



#accueil #section5 h4 {
    text-align: center;
    color: #e0e0e0;
}


#accueil #section5 form {
    background-color: #24292e;
    padding-top: 30px;
    margin-top: 30px;
    color: white;
}




/* COULEUR INPUT */




    /* label color */
.input-field label {
     color: #e0e0e0;
   }
   /* label focus color */
.input-field input[type=text]:focus + label {
     color: #e0e0e0;
   }
   /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* invalid color */
.input-field input[type=text].invalid {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* icon prefix focus color */
.input-field .prefix.active {
     color: #e0e0e0;
   }




   /* label focus color */
.input-field input[type=email]:focus + label {
     color: #e0e0e0;
   }
   /* label underline focus color */
.input-field input[type=email]:focus {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* valid color */
.input-field input[type=email].valid {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* invalid color */
.input-field input[type=email].invalid {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }



   /* label focus color */
.input-field input[type=password]:focus + label {
     color: #e0e0e0;
   }
   /* label underline focus color */
.input-field input[type=password]:focus {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* valid color */
.input-field input[type=password].valid {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* invalid color */
.input-field input[type=password].invalid {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }





   /* label focus color */
.input-field textarea[class=materialize-textarea]:focus + label {
     color: #e0e0e0;
   }
   /* label underline focus color */
.input-field textarea[class=materialize-textarea]:focus {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* valid color */
.input-field textarea[class=materialize-textarea].valid {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }
   /* invalid color */
.input-field textarea[class=materialize-textarea].invalid {
     border-bottom: 1px solid #e0e0e0;
     box-shadow: 0 1px 0 0 #e0e0e0;
   }




.btn {
    background-color: #e0e0e0;
    color: black;
}


.btn:hover {
    background-color: black;
    color: #e0e0e0;
}






#login form {
    margin-top: 100px;
    color: white;
    background-color: #24292e;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 2px 2px;
    
}



#login h4 {
    text-align: center;
    color: #e0e0e0;
}




/*** ADMIN ***/


#lateral-menu {
    position: fixed;
    right: 20px;
    top : 100px;
}







































/* RESPONSIVE */



@media screen and (min-width: 992px) and (max-width: 1060px) {
 
    #menu1 a {
        font-size : 12px;
    }
 
    
}


@media screen and (max-width: 600px) {
 
   .section h2 {
        font-size: 30px;
    }

 
    .section h3 {
        font-size: 25px;
    }
    
    
    #section0 p {
        font-size: 14px;
    }
    
    
    #border-bottom #bottom-left {
        height: 150px;
        width: 50px;
        top : -120px;
    }
    
    
    
    #border-bottom #bottom-right {
        height: 150px;
        width: 50px;
        top : -120px;
    }
    
    
    #border-top #top-left {
        height: 150px;
        width: 50px;
        bottom : -120px;
    }
    
    #border-top #top-right {
        height: 150px;
        width: 50px;
        bottom : -120px;
    }
    
    
    
    
    
    
    
    
}








