#menu {
    height: 50px;
    background-color: #212121;
    position: fixed;
    z-index: 50;
    width: 100%;

 
}

#left-menu {

}

#right-menu {

}

#admin-menu {
    
}


.sous-menu{
    height: 50px;
}

.item-menu {
    line-height: 50px;
}


a {
    text-decoration: none;
    color: white;
}



#section0 {
    
    background-image: url("../img/bg1.png");
    font-family: cursive;
}