#menu {
    height: 50px;
  /*  background-color: #212121;*/
    background-color: #1E2327;
    position: fixed;
    z-index: 50;
    width: 100%;

 
}


.sous-menu{
    height: 50px;
}

.item-menu {
    line-height: 50px;
}


a {
    text-decoration: none;
    color: #9A9C9E;
}

a:hover {
    text-decoration: none;
    color: white;
}





/* MENU */


.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 50px;
    max-height: 50px;
}

.nav li {
	display: inline;
   /* text-align: center;*/

}

.navbar-inverse .navbar-nav > li {

	margin-left: 50px;
    line-height: 50px;
   /* background-color: black;*/
}




.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}


ul.nav.navbar-nav {
    background-color: #1E2327;
}
    













/** BODY **/


body {
    color: white;
}




.section h2 {
    text-align: center;
    position: relative;
    bottom: 30px;
}





#section0 {
    
    background: url("../img/bg1.png") no-repeat center ;
    background-size: cover;
    font-family: cursive;
    
}
/*
#section0 img {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}
*/


#section0 h2 {
    position: relative;
    z-index: 20;
}










/* EXPERIENCES PROFESSIONNELLES */

#section1 {
    
    background: url("../img/bg8.png")no-repeat center;
    background-size: cover;
    font-family: cursive;
}

#section1 .exp {
    background-color: #1E2327;
    width: 300px;
    margin-left: 1%;
    margin-right: 1px;
    height: 500px;
    border: solid 1px black;   

    
}

#section1 .exp p {
overflow: hidden;
}




#section1 .exp h3{

    text-align: center;
    margin-bottom: 20px;    
}


#section1 .exp .row{
    margin-bottom: 20px; 
}


#section1 .exp a{

    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    
}












/* REALISATIONS */


#section2 {
    background: url("../img/bg3.png") no-repeat center ;
    background-size: cover;
    font-family: cursive;
}

#section2 {
    
}










#section3 {
    background: url("../img/bg20.png") no-repeat center ;
    background-size: cover;
    font-family: cursive;
}

#section4 {
    background: url("../img/bg19.png") no-repeat center;
    background-size: cover;
    font-family: cursive;
}

#section5 {
    background: url("../img/bg9.png") no-repeat center ;
    background-size: cover;
    font-family: cursive;
}






@media screen and (min-width: 768px) and (max-width :1200px){
    
    
    
    .navbar-inverse .navbar-nav > li {
        margin-left: 50px;
        width: 70px;
    }
    
    

    
    
}






