
#menu1 {

    background-color: #24292E;
    position: fixed;
    z-index: 50;
    width: 100%;


 
}

.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
}



#menu1 li:hover {
    background-color: #212121;

}


/*
nav ul{
  transform: translateX(12%);
  webkit-transform: translateX(-12%);
}

*/




/** BODY **/


body {

}



main {
    position: relative;
    top: 60px;
}



.toplink {
    
    height: 1px;
    width: 1px;
    position:relative;
    top : 100px;

}


/*

.section {
    min-height: 720px;
}

*/

.section h2 {
    text-align: center;
}


.divider {
    margin-top: 190px;
}





/* PRESENTATION */
#section0 img  {
    margin-top: 25px;
    margin-bottom: 25px;

}


#section0 p {
    font-size: 18px;
    
    
}


#section0 #apropos {
    
}

#section0 h3 {
    margin-top: 50px;
}








/* EXPERIENCES PROFESSIONNELLES */
#section1 {
    

}


.expe {
    
    margin-bottom: 25px;
    margin-top: 25px;
}



#content {
    
    padding-left: 20px;
    clear: both;
}


#content #spantitre {
    
}


#content #intitule {
    display: inline-block;
    font-weight: 300;
    font-size: 25px;
    color: #888;


}

#content #titre h4 {
   
    font-weight: 500;
    font-size: 29px;
    display: inline-block;  
    margin-left: 20px;
    
    
}

#content #date {
    padding-right: 30px;
    color: #888;

}

#content #entreprise {
    font-weight: 500;
    font-size: 18px;
}

#content #ville {
    font-style: italic;
    font-size: 18px;
}






@media only screen and (max-width: 600px) { 
    
    .row.valign-wrapper { 
        display: inherit; 
    }
}




#border-top #top-left {
    display: block;
    width: 150px;
    height: 50px;
    position: relative;
    float: left;

    bottom: -10px;
    left: -10px;
    
    
    border-top: 2px solid #E0E0E0;
    border-left: 2px solid #E0E0E0;

}

#border-top #top-right {
    float: right;
    display: block;
    width: 150px;
    height: 50px;
    
    position: relative;
    
    
    bottom: -10px;
    right: -10px;
    
    
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}





#border-bottom #bottom-left {
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    position: relative;
    
    top: -10px;
    left: -10px;
    
    border-bottom: 2px solid #E0E0E0;
    border-left: 2px solid #E0E0E0;
}



#border-bottom #bottom-right {
    display: block;
    width: 150px;
    height: 50px;
    float: right;
    position: relative;
    
    top: -10px;
    right: -10px;
    
    border-bottom: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}



.clear {
    clear: both;
}






/* REALISATIONS */
#section2 .real {

    text-align: center;
    color: white;
    height: 226px;
}



#section2 .contour {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


#section2 img {
 
    display:inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #E0E0E0;
    position: relative;
    z-index: -9;
    
    
    
    float: left;

}


#section2 .contour .backimg {

    display: none;
    height: 200px;
}

#section2 .back {
    
    float: left;
    
    
    
    width: 200px;
    height: 200px;
    background-color: #212121;
    opacity: 0.8;
    position: absolute;
    
    /*bottom: 206px;*/
   
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    
}

#section2 .desc {
    float: left;
    

    width: 200px;
    height: 200px; 
    position: absolute;
    
    /*bottom: 413px;*/
    
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
    
    
}


#section2 .desc > * {
    clear: both;
}



#section2  h6 {
    padding-top: 50px;
    font-weight: 500;
}


#section2 .desc p {
    font-weight: 300;
}





/* COMPETENCES */
#section3 {

}




/* FORMATIONS */
#section4 {

}






/* CONTACT */
#section5 {

}




@media screen and (min-width: 992px) and (max-width: 1060px) {
 
    #menu1 a {
        font-size : 12px;
    }
 
    
}


@media screen and (max-width: 600px) {
 
   .section h2 {
        font-size: 30px;
    }

 
    .section h3 {
        font-size: 25px;
    }
    
    
    #section0 p {
        font-size: 14px;
    }
    
    
    #border-bottom #bottom-left {
        height: 150px;
        width: 50px;
        top : -120px;
    }
    
    
    
    #border-bottom #bottom-right {
        height: 150px;
        width: 50px;
        top : -120px;
    }
    
    
    #border-top #top-left {
        height: 150px;
        width: 50px;
        bottom : -120px;
    }
    
    #border-top #top-right {
        height: 150px;
        width: 50px;
        bottom : -120px;
    }
    
    
    
    
    
    
    
    
}








