
#menu1 {

    background-color: #24292E;
    position: fixed;
    z-index: 50;
    width: 100%;


 
}

.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
}



#menu1 li:hover {
    background-color: #212121;

}



nav ul{
  transform: translateX(12%);
  webkit-transform: translateX(-12%);
}













/** BODY **/


body {

}



main {
    position: relative;
    top: 60px;
}



.toplink {
    
    height: 1px;
    width: 1px;
    position:relative;
    top : 100px;

}


/*

.section {
    min-height: 720px;
}

*/

.section h2 {
    text-align: center;
}


.divider {
    margin-top: 190px;
}





/* PRESENTATION */
#section0 img  {
    margin-top: 25px;
    margin-bottom: 25px;

}


#section0 p {
    font-size: 18px;
    
    
}


#section0 #apropos {
    
}

#section0 h3 {
    margin-top: 50px;
}








/* EXPERIENCES PROFESSIONNELLES */
#section1 {
    

}

#content {
    clear: both;
}



#border-top #top-left {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    float: left;

    bottom: -10px;
    left: -10px;
    
    
    border-top: 2px solid #E0E0E0;
    border-left: 2px solid #E0E0E0;

}

#border-top #top-right {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    
    position: relative;
    
    
    bottom: -10px;
    right: -10px;
    
    
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}





#border-bottom #bottom-left {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    position: relative;
    
    top: -10px;
    left: -10px;
    
    border-bottom: 2px solid #E0E0E0;
    border-left: 2px solid #E0E0E0;
}



#border-bottom #bottom-right {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    
    top: -10px;
    right: -10px;
    
    border-bottom: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}










/* REALISATIONS */
#section2 {

}




/* COMPETENCES */
#section3 {

}




/* FORMATIONS */
#section4 {

}






/* CONTACT */
#section5 {

}




@media screen and (min-width: 992px) and (max-width: 1060px) {
 
    #menu1 a {
        font-size : 12px;
    }
 
    
}




